<app-tabs-full
  (tabSelectedEvent)="tabSelected($event)"
  (closeTabButtonEvent)="onCloseTabSelected($event)"
  (addTabButtonEvent)="onNewTab()"
  [isScrollable]="true"
  [tabIndicator]="true"
  [tabIndicatorPosition]="'top'"
  [closeWithDoubleClick]="false"
  (closeTabWithDoubleClickEvent)="onCloseTabSelectedWithDoubleClick($event)"
  [nameEditable]="true"
  (tabNameChangedEvent)="prueba($event)"
>
  <app-tab tabTitle="Tab 1" [isCloseable]="true">
    <mat-card style="height: 300px">Content of tab 1</mat-card>
  </app-tab>
  <app-tab tabTitle="Tab 2" [isCloseable]="true" [inError]="true">
    <mat-card style="height: 300px">Content of tab 2</mat-card></app-tab
  >
  <app-tab tabTitle="Tab 3" [isCloseable]="true">
    <mat-card style="height: 300px">Content of tab 3</mat-card>
  </app-tab>
  <app-tab tabTitle="Tab 4" [isCloseable]="false">
    <mat-card style="height: 300px">Content of tab 4</mat-card>
  </app-tab>
</app-tabs-full>

<ng-template #newTab let-data="data">
  <mat-card style="height: 300px">Content of tab {{ data }}</mat-card>
</ng-template>

<br />
<button (click)="onNewTab()">new HIJO</button>
<button (click)="onCloseTab()">close HIJO</button>