<app-tabs-full
  (tabSelectedEvent)="tabSelected($event)"
  (closeTabButtonEvent)="onCloseTab($event)"
  (addTabButtonEvent)="onNewTab()"
  [isScrollable]="true"
  [tabIndicator]="false"
  [tabIndicatorPosition]="'top'"
  [isNameEditable]="true"
  [hasCloseableEmit]="true"
  [allCloseable]="true"
  (tabNameChangedEvent)="proof($event)"
>
  <app-tab tabTitle="Tab 1" [isCloseable]="true">
    <mat-card style="height: 300px">Content of tab 1</mat-card>
  </app-tab>
  <app-tab tabTitle="Tab 2" [isCloseable]="true" [inError]="true">
    <mat-card style="height: 300px">Content of tab 2</mat-card></app-tab
  >
  <app-tab tabTitle="Tab 3" [isCloseable]="true">
    <mat-card style="height: 300px">Content of tab 3</mat-card>
  </app-tab>
  <app-tab tabTitle="Tab 4" [isCloseable]="true">
    <mat-card style="height: 300px">Content of tab 4</mat-card>
  </app-tab>
</app-tabs-full>

<ng-template #newTab let-data="data">
  <mat-card style="height: 300px"
    >Content of tab <strong>{{ data }}</strong>
  </mat-card>
</ng-template>

<br />
<div class="buttons">
  <button mat-raised-button color="primary" (click)="onNewTab()">
    New Tab
  </button>
  <button mat-raised-button color="primary" (click)="onCloseTab()">
    Close Current Tab
  </button>
</div>
