<!-- TABSFULLCOMPONENT VIEW TEMPLATE -->

<!-- SCROLLABLE TABS -->
<div class="list-with-scroll border-input" *ngIf="isScrollable">
  <div
    class="list sd-tabs border-input"
    [ngClass]="{
      dark: darkMode,
      'drag-list': isDraggable && tabs.length > 1,
      isScrollable: isScrollable
    }"
    (keydown)="handleTabKey($event)"
    tabindex="0"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    appScrollable
    #scrollable="appScrollable"
    id="tabContainer"
    [scrollUnit]="scrollUnit"
  >
    <!-- nav tab headers are generated here -->
    <div
      *ngFor="let tab of tabs"
      class="sd-tab-label item"
      [ngClass]="{
        active: tab.active,
        'first-tab': tab.isFirst,
        'last-tab': tab.isLast,
        'sd-tab-label-disabled': tab.isDisabled,
      }"
      [ngStyle]="{
        'border-top':
          tabIndicator && tab.active && tabIndicatorPosition === 'top'
            ? '2px solid ' + tabIndicatorColor
            : null,
        'border-bottom':
          tabIndicator && tab.active && tabIndicatorPosition === 'bottom'
            ? '2px solid ' + tabIndicatorColor
            : null
      }"
      (click)="tab.isDisabled ? null : selectTabMode(tab)"
      [title]="tab.tabTitle"
      cdkDrag
      id="tab-{{ tab.index }}"
      [cdkDragDisabled]="!isDraggable || tab.isDisabled || tabs.length <= 1"
      cdkDragLockAxis="x"
      cdkDragHandle
      (cdkDragStarted)="tab.isDisabled ? null : selectTabMode(tab)"
      (cdkDragDropped)="tab.isDisabled ? null : onDragSelectTab(tab)"
    >
      <ng-container
        *ngTemplateOutlet="tabContentTemplate; context: { tab: tab }"
      ></ng-container>
    </div>
    <ng-container
      *ngTemplateOutlet="
        addButtonTemplate;
        context: {
          showAddTabButton: showAddTabButton && !scrollable.isOverflow
        }
      "
    ></ng-container>
  </div>

  <!-- LEFT BUTTON -->
  <div
    class="scroll-button-container margin-left-4"
    id="scroll-left"
    *ngIf="scrollable.isOverflow"
  >
    <button
      type="button"
      class="scroll-button"
      [class.disable]="!scrollable.canScrollStart"
      (click)="scrollable.scrollSmooth(-1)"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <!-- RIGHT BUTTON -->
  <div
    class="scroll-button-container margin-left-2"
    *ngIf="scrollable.isOverflow"
  >
    <button
      type="button"
      class="scroll-button"
      *ngIf="scrollable.isOverflow"
      [class.disable]="!scrollable.canScrollEnd"
      (click)="scrollable.scrollSmooth(1)"
    >
      <!-- &#8680; -->
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <ng-container
    *ngTemplateOutlet="
      addButtonTemplate;
      context: {
        showAddTabButton: showAddTabButton && scrollable.isOverflow
      }
    "
  ></ng-container>
</div>

<!-- TABS SIN SCROLLABLE -->
<div
  class="sd-tabs border-input"
  [ngClass]="{ dark: darkMode, 'drag-list': isDraggable && tabs.length > 1 }"
  (keydown)="handleTabKey($event)"
  tabindex="0"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  *ngIf="!isScrollable"
>
  <!-- nav NAV TAB HEADERS ARE GENERATED HERE -->
  <div
    *ngFor="let tab of tabs"
    class="sd-tab-label"
    [ngClass]="{
      active: tab.active,
      'first-tab': tab.isFirst,
      'last-tab': tab.isLast,
      'sd-tab-label-disabled': tab.isDisabled,
    }"
    [ngStyle]="{
      'border-top':
        tabIndicator && tab.active && tabIndicatorPosition === 'top'
          ? '2px solid ' + tabIndicatorColor
          : null,
      'border-bottom':
        tabIndicator && tab.active && tabIndicatorPosition === 'bottom'
          ? '2px solid ' + tabIndicatorColor
          : null
    }"
    (click)="tab.isDisabled ? null : selectTabMode(tab)"
    [title]="tab.tabTitle"
    cdkDrag
    id="tab-{{ tab.index }}"
    [cdkDragDisabled]="!isDraggable || tab.isDisabled || tabs.length <= 1"
    cdkDragLockAxis="x"
    cdkDragHandle
    (cdkDragStarted)="tab.isDisabled ? null : selectTabMode(tab)"
    (cdkDragDropped)="tab.isDisabled ? null : onDragSelectTab(tab)"
  >
    <ng-container
      *ngTemplateOutlet="tabContentTemplate; context: { tab: tab }"
    ></ng-container>
  </div>
  <ng-container
    *ngTemplateOutlet="
      addButtonTemplate;
      context: { showAddTabButton: showAddTabButton }
    "
  ></ng-container>
</div>
<ng-content></ng-content>
<ng-template dynamic-tabs #dynamicContainer></ng-template>
<!-- TEMPLATES -->

<!-- TAB CONTENT TEMPLATE -->
<ng-template #tabContentTemplate let-tab="tab">
  <div
    class="sd-tab-icon errorIcon"
    *ngIf="tab?.inError"
    [title]="tab?.errorContent"
    (click)="clickErrorIcon(tab)"
  >
    <mat-icon class="center-icon mat-error">error</mat-icon>
  </div>
  <div *ngIf="!isNameEditable" class="sd-tab-desc">
    {{ tab.tabTitle }}
  </div>
  <div
    *ngIf="isNameEditable && !tab.isNameEditing"
    class="sd-tab-desc"
    (dblclick)="startEditingTabName(tab)"
  >
    {{ tab.tabTitle }}
  </div>
  <input
    *ngIf="isNameEditable && tab.isNameEditing"
    class="sd-tab-desc border-input"
    [(ngModel)]="tab.editName"
    #tabTitleInput
    id="tabTitleInput"
    (blur)="stopEditingTabName(tab, tabTitleInput)"
    (keyup.enter)="stopEditingTabName(tab, tabTitleInput)"
  />
  <div
    *ngIf="allCloseable && tab.isCloseable && !tab.isDisabled"
    class="sd-tab-icon sd-tab-close"
    (click)="closeTab(tab, true)"
    draggable="false"
  >
    <svg
      aria-hidden="true"
      data-prefix="fal"
      data-icon="times"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="svg-inline--fa fa-times fa-w-10 fa-2x"
    >
      <path
        fill="currentColor"
        d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"
      />
    </svg>
  </div>
</ng-template>

<!-- ADD BUTTON TEMPLATE -->
<ng-template #addButtonTemplate let-showAddTabButton="showAddTabButton">
  <div class="add-tab-button-container" *ngIf="showAddTabButton">
    <button class="add-tab-button" type="button" (click)="addTabButton()">
      +
    </button>
  </div>
</ng-template>
