.sd-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  background: #e5e5e5;
  padding-top: 0.075rem;
  position: relative;
  background-color: var(--tabs-bg-color);
}
.sd-tabs.dark {
  background-color: var(--dark-tabs-bg-color);
}
.sd-tabs > .sd-tab-label {
  background-color: var(--tabs-bg-color);
  padding: 3px 5px 5px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  /* transition: background-color ease .2s, box-shadow ease .2s;
  */
  flex: 1;
  outline: none;
}

.sd-tabs.drag-list > .sd-tab-label {
  cursor: move !important;
}

.sd-tabs:not(.drag-list) > .sd-tab-label {
  cursor: pointer !important;
}

.sd-tabs.dark > .sd-tab-label {
  background-color: var(--dark-tabs-bg-color);
}
.sd-tabs > .sd-tab-label:hover {
  background-color: var(--tabs-hover-bg-color);
  color: var(--tabs-hover-text-color);
  z-index: 3;
}
.sd-tabs.dark > .sd-tab-label:hover {
  background-color: var(--dark-tabs-hover-bg-color);
  color: var(--dark-tabs-hover-text-color);
}
.sd-tabs > .sd-tab-label.active {
  z-index: 4;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}
.sd-tabs > .sd-tab-label:not(.active):not(:hover) {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0.25);
  color: var(--tabs-text-color);
}
.sd-tabs.dark > .sd-tab-label:not(.active):not(:hover) {
  color: var(--dark-tabs-text-color);
}
.sd-tabs > .sd-tab-label.active + .sd-tab-label.active,
.sd-tabs > .sd-tab-label:hover + .sd-tab-label:not(.active) {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}
.sd-tabs > .sd-tab-label.active:hover {
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-label:hover::before,
.sd-tabs > .sd-tab-label.active::before {
  left: -100%;
  border-radius: 0 0 10px 0;
  opacity: 1;
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-label.active::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs.dark > .sd-tab-label.active::before {
  box-shadow: 14px 0.25em 0 -4px var(--dark-tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-label:hover::after,
.sd-tabs > .sd-tab-label.active::after {
  right: -100%;
  border-radius: 0 0 0 10px;
  opacity: 1;
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-label.active::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}
.sd-tabs.dark > .sd-tab-label.active::after {
  box-shadow: -14px 0.25em 0 -4px var(--dark-tabs-selected-bg-color);
}
.sd-tabs > .sd-tab-label.active:hover,
.sd-tabs > .sd-tab-label.active {
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
  z-index: 4;
}
.sd-tabs.dark > .sd-tab-label.active:hover,
.sd-tabs.dark > .sd-tab-label.active {
  background-color: var(--dark-tabs-selected-bg-color);
  color: var(--dark-tabs-selected-text-color);
  z-index: 4;
}
.sd-tabs > .sd-tab-label:not(.active):hover::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-hover-bg-color);
  opacity: 1;
  /* transition: all .2s;
  */
}
.sd-tabs.dark > .sd-tab-label:not(.active):hover::before {
  box-shadow: 14px 0.25em 0 -4px var(--dark-tabs-hover-bg-color);
}
.sd-tabs > .sd-tab-label:not(.active):hover::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-hover-bg-color);
  /* transition: all .2s;
  */
}
.sd-tabs.dark > .sd-tab-label:not(.active):hover::after {
  box-shadow: -14px 0.25em 0 -4px var(--dark-tabs-hover-bg-color);
}
:root .sd-tabs > .sd-tab-label:first-of-type {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}
.sd-tabs > .break {
  background-color: aqua;
  flex-basis: 100%;
}
.sd-tabs > .sd-tab-label .sd-tab-desc {
  display: block;
  margin: 7px 5px 5px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 0.75rem;
  flex: 1 1 0%;
}
.sd-tabs > .sd-tab-label .sd-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  padding: 2px 3px;
}
.sd-tabs > .sd-tab-label .sd-tab-icon:not(.sd-tab-close) {
  width: 20px;
}
.sd-tabs > .sd-tab-label[icon-only] .sd-tab-icon:not(.sd-tab-close) {
  width: 24px;
  margin: 0 auto;
}
.sd-tabs > .sd-tab-label .sd-tab-close:hover {
  background-color: #4c4c4c33;
}
.sd-tabs > .sd-tab-label .sd-tab-close {
  margin-left: auto;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  visibility: hidden;
}
@media (min-width: 600px) {
  .sd-tabs {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sd-tab-label {
    max-width: 150px;
    width: 150px;
    border-radius: 10px 10px 0 0;
  }
  .sd-tabs > .sd-tab-label::after,
  .sd-tabs > .sd-tab-label::before {
    visibility: visible;
  }
  .sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 14px;
  }
}

.sd-tab-close {
  cursor: pointer !important;
}

.drag-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //   0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 3px 5px 5px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  flex: 1;
  outline: none;
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-list.cdk-drop-list-dragging .sd-tab-label:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
