* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
body,
html {
  height: 100%;
  overflow: auto;
  background-color: rgb(231, 234, 236);
}